body  {
    background-image: url("../images/field.jpeg");
}

#current-word {
    font-size: 2.3rem;
    color: green;
}

.card-text {
    font-size: 2rem;
}

.answers {
    color: #868e95;
}

.card-title {
    font-size: 2.3rem;
}